.row{
    margin-left:2%;
    margin-right:2%;
    margin-bottom:2%;
    padding:3%;
    border:1px solid #aaa;
    border-radius:10px;
}

input.ng-invalid.ng-touched {
    border-left: 5px solid #a94442;
}

input.ng-valid.ng-dirty {
    border-left: 5px solid #42A948;
}
.check {
    color: #42A948;
}
.uncheck {
    color: #a94442;
}