<div class="proveedores justify-content-md-center">
    <h3>Listado de Proveedores</h3>
    <a class="btn btn-primary" routerLink="/providers/addprovider">Añadir nuevo proveedor</a>
    <table class="table table-bordered table-secondary table-striped tabla" style="margin-top: 40px;">
        <thead>
            <tr class="filters">
                <th>Nombre</th>
                <th>Correo Electrónico</th>
                <th>Telefono</th>
                <th>CIF</th>
                <th>Dirección</th>
                <th>Código Postal</th>
                <th>Localidad</th>
                <th>Contacto</th>
                <th>Editar</th>
                <th>Eliminar</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let provider of providers">
                <td>{{ provider.name }}</td>
                <td><a href="mailto:{{ provider.email }}">{{ provider.email }}</a></td>
                <td>{{ provider.phone }}</td>
                <td>{{ provider.cif }}</td>
                <td>{{ provider.address }}</td>
                <td>{{ provider.cp }}</td>
                <td>{{ provider.location }}</td>
                <td>{{ provider.contact }}</td>
                <td><button type="button" class="btn btn-success" routerLink="/editproviders/{{ provider.id }}">Editar</button></td>
                <td><button class="btn btn-danger" (click)="deleteProvider(provider.id)">Eliminar</button></td>
            </tr>
        </tbody>
    </table>
</div>