
.main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(180deg, rgb(255, 255, 255) 77%, rgb(0, 92, 187) 100%);
}

.register-form {
  display: grid;
  justify-content: center;
  align-items: center;
  width: 360px;

  border: 2px solid #767b84;
  padding: 24px 24px 0 24px;
  border-radius: 14px;
  background: linear-gradient(0deg, rgb(255, 255, 255) 65%, rgb(0, 92, 187) 100%);
}

.submit {
  margin-top: 12px !important;

  margin-bottom: 12px !important;
}
