<div class="budgets justify-content-md-center">
<h3>Listado de Presupuestos</h3>
<a class="btn btn-primary float-md-right" routerLink="/addbudget">Añadir nuevo presupuesto</a>
<br>
<table class="table table-bordered table-striped tabla" style="margin-top: 40px;">
    <thead>
        <tr class="filters">
            <th>Proveedor</th>
            <th>Fecha</th>
            <th>Concepto</th>
            <th>Base</th>
            <th>IVA</th>
            <th>Total</th>
            <th>Editar</th>
            <th>Eliminar</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let budget of budgets">
            <td>{{ budget.provider }}</td>
            <td>{{ budget.date }}</td>
            <td>{{ budget.concept }}</td>
            <td>{{ budget.bimpo }}</td>
            <td>{{ budget.iva }}</td>
            <td>{{ budget.total }}</td>
            <td><button type="button" class="btn btn-success" routerLink="/editbudget/{{ budget.id }}">Editar</button></td>
            <td><button class="btn btn-danger" (click)="deleteBudget(budget.id)">Eliminar</button></td>
        </tr>
    </tbody>
</table>
</div>