
.main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(180deg, var(--mat-sys-surface) 77%, var(--mat-sys-primary-container) 100%);
}

.login-form {
  display: grid;
  justify-content: center;
  align-items: center;
  width: 360px;

  border: 2px solid #767b84;
  padding: 24px 24px 0 24px;
  border-radius: 14px;
  background: linear-gradient(0deg, var(--mat-sys-surface) 65%, var(--mat-sys-primary-container) 100%);
}
